*{
    margin: 10px;
    padding: 1px;
}

*::selection{
    background-color: #efc98b;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F4E4B3;
    margin: 5px;
    text-align: right;
    font-family:'Lucida Sans';
    color: #050517;
}

.item-nome{
    background-color: #F4E4B3;
    padding: 15px;
    text-align: left;
}
.item-nav{
    background-color: #F4E4B3;
    padding: 15px;
    text-align: right;
}

.container-select{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fffbef;
    margin: 5px;
    text-align: right;
    font-family:'Lucida Sans';
    color: #050517;
}

.item-select{
    background-color: #fffbef;
    padding: 15px;
    text-align: center;
}

.divprincipal{
    background-color: #fffbef;
}

h1{
    text-align: center;
    color: #ff7e74;
    font-family: Lucida Handwriting;
    margin-top: 50px;
}

h2{
    color: #050517;
    text-align: center;
    font-family:'Baskerville Old Face';

}

h3{
    color: #050517;
    text-align: justify;
    font-family:'Baskerville Old Face';
    margin-left: 200px;
    margin-right: 200px;
}

a{
    font-size: 105%;
}

a:link{
    color: #050517;
}

a:visited{
    color: #050517;
}

a:active{
    color: #ff7e74;
}

a:hover{
    text-align: center;
    color: #ff7e74;
    font: bold;
}

h3{
    color: #050517;
    text-align: justify;
    font-family:'Baskerville Old Face';
    margin-left: 200px;
    margin-right: 200px;
}

a{
    font-size: 105%;
}

a:link{
    color: #050517;
}

a:visited{
    color: #050517;
}

a:active{
    color: #ff7e74;
}

a:hover{
    text-align: center;
    color: #ff7e74;
    font: bold;
}