/*  paleta de cores #050517 azul escuro / #ff7e74 rosa coral / #F4E4B3 nude
    fontes: Baskerville Old Face / Lucida Sans / Lucida Handwriting / Baskerville Old Face
*/

*{
    margin: 5px;
    padding: 1px;
    font-family:'Lucida Sans';
}

*::selection{
    background-color: #050517;
    color: #F4E4B3;
}

.header{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F4E4B3;
    color: #050517;
}

.item-nome{
    background-color: #F4E4B3;
    padding: 15px;
    text-align: left;
}
.item-nav{
    padding: 15px;
    text-align: right;
}

.container-body{
    display: grid;
    grid-template-columns: 50% 50%;
    color: #050517;
}

.item-body{
    padding: 15px;
    text-align: center;
    align-content: center;
}

h1{
    text-align: center;
    color: #ff7e74;
    font-family: Lucida Handwriting;
    margin-top: 2%;
}

h2{
    color: #050517;
    text-align: center;
    font-family:'sans-serif';

}

h3{
    color: #050517;
    text-align: justify;
    font-family:'Baskerville Old Face';
    margin-left: 200px;
    margin-right: 200px;
}

a{
    font-size: 105%;
}

a:link{
    color: #050517;
}

a:visited{
    color: #050517;
}

a:hover{
    color: #ff7e74;
}

.footer{
    background-color: #F4E4B3;
    padding: 10px;
    margin: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #050517;
}