/*  paleta de cores #05000C azul escuro / #B86B77 rosa coral / #F4C8C8 nude / #F7F0EF gelo
    fontes: Baskerville Old Face / Lucida Sans / Lucida Handwriting / Baskerville Old Face
*/

/*página inteira*/
*{
    margin: 5px;
    padding: 1px;
    font-family:'Lucida Sans';
    color: #B86B77;
    background-color: #F7F0EF;
}

/*ao selecionar conteúdo com o mouse*/
*::selection{
    background-color: #05000C;
    color: #F7F0EF;
}

/*cabeçalho - grid para dividir a linha, esquerda LOGO, direita MENU*/
.header{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F4C8C8;
}

/*LOGO*/
.item-nome{
    background-color: #F4C8C8;
    padding: 15px;
    text-align: left;
}

/*MENU*/
.item-nav{
    background-color: #F4C8C8;
    padding: 15px;
    text-align: right;
}

/*grid páginas home e contato*/
.container-body{
    display: grid;
    grid-template-columns: 50% 50%;
    color: #05000C;
}

/*itens do grid body*/
.item-body{
    padding: 15px;
    text-align: center;
    align-content: center;
}

/*item form*/
.item-form{
    padding: 15px;
    text-align: left;
    align-content: center;
    background-color: #F4C8C8;
}

.container-portifolio{
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    color: #05000C;
    column-gap:0cm;
    row-gap: 0cm;
}

/*itens do grid body*/
.item-portifolio{
    padding: 15px;
    text-align: center;
    align-content: center;
    border: 1px #05000C;
}

/*título da página*/
h1{
    text-align: center;
    color: #B86B77;
    font-family: Lucida Handwriting;
    margin-top: 2%;
}

/*texto página home*/
h2{
    color: #05000C;
    text-align: right;
    font-family:'sans-serif';
}

/*textos das páginas*/
p{
    color: #05000C;
    text-align: justify;
    font-family:'Baskerville Old Face';
    margin-left: 200px;
    margin-right: 200px;
}

h5{
    background-color: #F4C8C8;
}

input{
    background-color: #F7F0EF;
    border: #F7F0EF;
    padding: 1%;
    width: 70%;
    border-radius: 10px;
    color: #05000C;
}

textarea{
    padding: 1%;
    width: 70%;
}

button{
    padding: 1%;
    width: 20%;
    background-color: #05000C;
    border: #05000C;
    color: #F7F0EF;
    border-radius: 25px;
}

/*links do menu*/
a{
    background-color: #F4C8C8;
    font-size: 105%;
    color: #05000C;
}

/*ao passar o mouse no link*/
a:hover{
    color: #B86B77;
}

/*rodapé*/
.footer{
    background-color: #F4C8C8;
    padding: 10px;
    margin: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #05000C;
}